* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    fill: white;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#07102c, #000619);
    font-family: 'Courier New', monospace;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 7rem 5rem 1fr 3rem;
}

header {
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 80%;
}

#logo {
    width: 400px;
}

.message {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    color: white;
}

.message-inner {
    display: grid;
    background-color: rgb(63, 63, 63);
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem 2rem;

}

.main-inner {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.main-left, .main-right {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-rows: min-content 1fr;
    justify-items: center;
}

h2 {
    font-size: 2rem;
}

.left-grid-outer, .right-grid-outer {
    width: 90%;
    background-color: rgb(255, 255, 255, 0.8);
    display: grid;
    align-items: center;
    justify-items: center;
}

.left-grid, .right-grid {
    width: 99%;
    height: 99%;
    background-color: rgb(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.1rem;
}

.grid-cell {
    background-color: #000619;
}

.grid-cell:hover {
    opacity: 0.8;
}

.place-ship {
    opacity: 0.8;
}

.hasShip {
    background-color: red;
}

.isShot {
    background-color: blue;
}

.isShothasShip {
    background-color: red;
}

footer {
    display: grid;
    grid-template-columns: auto 30px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    color: white;
    user-select: none;
}

footer svg {
    fill: white;
}

.home-inner {
    grid-row: 2 / 4;
    display: grid;
    justify-items: center;
    align-items: center;
}

.play-button {
    background-color: rgb(63, 63, 63);
    padding: 1rem 2rem;
    border: 1px solid white;
    transition: 0.10s ease-in;
    cursor: pointer;
    border-radius: 0.2rem;
}

.play-button:hover {
    scale: 1.2;
}

.main-inner-ss {
    grid-row: 3 / 4;
    display: grid;
    justify-items: center;
    align-items: center;
}


.main-grid-outer {
    width: 40%;
    height: 80%;
    background-color: rgb(255, 255, 255, 0.8);
    display: grid;
    align-items: center;
    justify-items: center;
}

.main-grid {
    width: 99%;
    height: 99%;
    background-color: rgb(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.1rem;
}

.place-ships {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    color: white;
    grid-template-columns: 1fr 5rem 20rem 1fr;
}

.switch-axis {
    grid-column: 2 / 3;
    height: 4.5rem;
    background-color: #07102c;
    border: 2px solid white;
    display: grid;
    align-items: center;
    justify-items: center;

}

.switch:hover {
    opacity: 0.6;
}

.place-ships {
    display: grid;
    grid-auto-flow: column; 
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    color: white;
    gap: 2rem;
    grid-template-columns: 1fr 5rem min-content 1fr;
}

.place-ships-inner {
    display: grid;
    grid-column: 3 / 4;
    background-color: rgb(63, 63, 63);
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.orders {
    white-space: nowrap;
    user-select: none;
}

.err {
    background-color: red;
    cursor:not-allowed;
}